.card
{
    margin-top: 10px;
    width: 40%;

    padding: 3px;
}
.input
{
  
    width: 77%;
    height: 23px;
    font-size: large;
   
    outline:none;
    border:none;
}
 .secondcard
 {
     margin-top: 50px;
    padding: 4%;
     width: 40%;
 }