<div fxLayout="{{message}}" fxLayoutGap="20px" >
<div *ngFor="let item of data" >
<div *ngIf="item.trash!=true">
<div *ngIf="item.archive!=true">
<mat-card class="smallcard" [ngStyle]="{'background-color': item.color}" >
<div (click)="openDialog(item)">{{item.title}}</div>
  <div>{{item.discription}}</div>
  <div>
      <mat-chip-list>
        <mat-chip>{{item.reminder| date:'mediumDate'}}</mat-chip>
        </mat-chip-list>
      </div>
  
 <app-icon [noteData]="item"></app-icon>
  
</mat-card> 
</div>
</div>
</div>
</div> 

