<div fxLayout="{{message}}" fxLayoutGap="20px">
  <div *ngFor="let item of data">
    <div *ngIf="item.trash!= true">
      <div  *ngIf="item.archive!=true">
        <mat-card  class="smallcard" [ngStyle]="{'background-color': item.color}">
          <div (click)="openDialog(item)" style=" word-wrap: break-word;">{{item.title}}</div>
          <div style=" word-wrap: break-word;">{{item.discription}}</div>


          <div *ngIf="item.reminder!=null">
            <mat-chip-list>
              <mat-chip [selectable]="selectable"
              [removable]="removable" (removed)="removeRemainder(item)" >{{item.reminder| date:'mediumDate'}}
                <mat-icon matChipRemove >cancel</mat-icon>
              </mat-chip>
             </mat-chip-list>
          </div>

          <app-icon [noteData]="item"></app-icon>

        </mat-card>
      </div>
    </div>
  </div>
</div>