<div  fxLayout="row" fxLayoutAlign="center center" style="margin-top: 150px;">
   <mat-card >
     <mat-card-content>
        
       <div>
         <mat-form-field appearance="outline" width="100%">
           <mat-label>Email</mat-label>
           <input matInput placeholder="Email" name="email" type="email" [formControl]="email">
           <mat-icon matSuffix>email</mat-icon>
            <mat-hint>Hint</mat-hint>  
          </mat-form-field>
       </div>
       
       <div>
         <mat-form-field appearance="outline">
           <mat-label>Password</mat-label>
           <input matInput placeholder="Password" name="password" type="password" [formControl]="password">
           <mat-icon matSuffix>visibility-on</mat-icon>
            <mat-hint>Hint</mat-hint>
          </mat-form-field>
       </div>
 
       <div>
 
         <button mat-raised-button color="primary" (click)="submit()">login</button>
         &nbsp;
         <button mat-raised-button color="primary" (click)="register()">register</button>
       </div>
     </mat-card-content>
   </mat-card>
 </div> 