<div class="loginimage">
<div  fxLayout="row" fxLayoutAlign="center center">
   <mat-card style="background:#e0ebe8c2;margin-top: 150px;">
    
       
        <div>
         <mat-form-field appearance="outline" width="100%">
           <mat-label>Email</mat-label>
           <input matInput placeholder="Email" name="email" type="email" [formControl]="email">
           <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
         </div>
       
       <div>
         <mat-form-field appearance="outline">
           <mat-label>Password</mat-label>
           <input matInput placeholder="Password" name="password" type="password" [formControl]="password">
           <mat-icon matSuffix>visibility_on</mat-icon>
          </mat-form-field>
       </div>
 
       <div>
 
         <button mat-raised-button color="primary" (click)="submit()">login</button>
         &nbsp;
         <button mat-raised-button color="primary" (click)="register()">register</button>
       </div>
   <a> </a>
   </mat-card>
 </div> 
 
</div>