
 <div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
  
  <mat-toolbar color="WHITE" fxLayout="row">
    
      <div class="app-icon" fxLayout="row" fxLayoutAlign="start start" fxLayoutAlign="space-around center" fxFlex="15" fxFlex.xs="25">
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="img-icon" fxLayoutAlign="space-between center">
            <img class="img" src="../../../assets/images/keep-one.png" >
        <span fxHide.xs="true">Fundoo</span>
        </div>
      </div>

      <!-- <div class="search" fxLayout="row" fxLayoutAlign="space-around center" fxFlex.xs="40" fxFlex="66">
        <button mat-icon-button fxFlex="10" fxHide.xs="true">
          <mat-icon >search</mat-icon>
        </button>
        <input  fxFlex="90" mat-input placeholder="Search">
      </div> -->
      <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex.xs="40" fxFlex="60">
        <form class="search" >
            <button mat-icon-button fxHide.xs="true" >
                <mat-icon >search</mat-icon>
              </button>
              <input mat-input placeholder="Search" class="input">
          </form>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutAlign.xs="space-evenly center" fxFlex="20" fxLayoutGap="10px">
        <mat-icon fxFlex="10">view_stream</mat-icon>
          
       
        <button  mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>account_circle</mat-icon></button>
       
       

      </div>
  </mat-toolbar>

  
  <mat-menu #menu="matMenu">
      <mat-card >
     <mat-card-footer></mat-card-footer>
     <mat-icon >account_circle</mat-icon>
     <button  routerLink="/register" routerLinkActive="active">add account</button>
     <button (click)="logout()">sign account</button>
    </mat-card>
  </mat-menu>
  
 <div class="cc"  fxLayout="column" fxLayoutAlign="space-around center" >
 
   <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav style="width: 280px;"  mode="side">
      <mat-nav-list>
        <div >
        <button  mat-button  (click)="notes()"  >
            
            <mat-icon> wb_incandescent</mat-icon>
          Notes
              </button>
            </div>
            <div>
        <button  mat-button (click)="reminder()">
          <mat-icon>notifications</mat-icon>
          reminders 
        </button>
        
      </div>
      <mat-divider></mat-divider>
      <div>
        <div>LABELS</div>
        <button  mat-button>
          <mat-icon>label</mat-icon>
          office_work
        </button>
      </div>
      <div>
    <button  mat-button>
        <mat-icon>create</mat-icon>
          create labels
    </button>
    </div>
      <mat-divider></mat-divider>
      <div >
            <button  mat-button (click)="archive()">
              <mat-icon>archive</mat-icon>
              archive 
            </button>
          </div>
          <div>
            <button  mat-button (click)="trash()">
              <mat-icon>delete</mat-icon>
        
              trash
            </button>
          </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
       <router-outlet ></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div> 

</div>

