
    <div class="flex-container">
        <mat-card mat-card style="margin-top: 8%;width: 60%;align-self: center;">
           
        <div class="divf2">
        <mat-form-field appearance="outline">
          <mat-label>Firstname</mat-label>
          <input  matInput  placeholder="Firstname" name="firststName" type="firstName" 
             [formControl]="firstName">
            <mat-icon matSuffix>person</mat-icon> 
       <!-- <mat-hint>Hint</mat-hint>  -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Lastname</mat-label>
            <input  matInput  placeholder="LastName" name="LastName" type="lastName" 
            [formControl]="lastName">
            <mat-icon matSuffix>person</mat-icon> 
         <!-- <mat-hint>Hint</mat-hint>  -->
          </mat-form-field>
      </div>
     
      <div class="divf21">
          <mat-form-field appearance="outline" width="100%">
            <mat-label >Email</mat-label>
            <input  matInput  placeholder="Email" name="email" type="email" 
             [formControl]="email">
            <mat-icon matSuffix>person</mat-icon> 
            <!-- <mat-hint>Hint</mat-hint>  -->
          </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Mobilenumber</mat-label>
                <input  matInput  placeholder="mobilenumber" name="mobileNumber" type="number" 
                [formControl]="mobileNumber">
            <mat-icon matSuffix>person</mat-icon> 
                <!-- <mat-hint>Hint</mat-hint>  -->
              </mat-form-field>
          </div>
        <div class="divf3">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password" name="password" type="password" 
             [formControl]="password">
            <mat-icon matSuffix>person</mat-icon> 
              <!-- <mat-hint>Hint</mat-hint>  -->
            </mat-form-field>
          </div>
             
            <div class="example-button-row" class="divf2">
          
                <button mat-raised-button color="primary" (click)="submit()">next</button>
               </div>
    </mat-card>
  </div>
