<div fxLayout="{{message}}" fxLayoutGap="25px" class="cards" >
    <div *ngFor="let item of data | search : searchText">
      <div *ngIf="item.trash!= true">
        <div  *ngIf="item.archive!=true">
          <mat-card  class="smallcard" [ngStyle]="{'background-color': item.color}">
            <div fxLayout="row" fxLayoutAlign="start start" >
            <div (click)="openDialog(item)" style=" word-wrap: break-word;width: 200px;">{{item.title}}</div>
            <img src="../../../assets/pin.svg" (click)="pinNote()" class="mouseover">
          </div>
            <div style=" word-wrap: break-word; height: 24px;">{{item.discription}}</div>
  
  
            <div *ngIf="item.reminder!=null">
              <mat-chip-list>
                <mat-chip [selectable]="selectable"
                [removable]="removable" (removed)="removeRemainder(item)" >{{item.reminder| date:'mediumDate'}}
                 <div class="mouseover"><mat-icon matChipRemove >cancel</mat-icon></div>
                </mat-chip>
               </mat-chip-list>
            </div>
  
           <div class="mouseover"> <app-icon [noteData]="item"></app-icon></div>
  
          </mat-card>
        </div>
      </div>
    </div>
  </div>