 
<div class="" fxLayout="row">
    <button mat-icon-button>
        <mat-icon matTooltip="Remind me">add_alert</mat-icon>
        </button>
      
        <button mat-icon-button>
          <mat-icon matTooltip="change color">palette</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon matTooltip="Add image">insert_photo</mat-icon>
          </button>

     <button mat-icon-button>
      <mat-icon matTooltip="archive">archive</mat-icon>
      </button>

    <button mat-icon-button>
     <mat-icon matTooltip="more">more_vert</mat-icon>
     </button>

     <button mat-icon-button>
    <mat-icon matTooltip="undo">undo</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon matTooltip="redo">redo</mat-icon>
        </button>
</div>