 
<div class="note" fxLayout="row" >
    <button mat-icon-button>
        <mat-icon matTooltip="Remind me">add_alert</mat-icon>
        </button>
      
        <button mat-icon-button>
          <mat-icon matTooltip="change color" mat-button [matMenuTriggerFor]="fab">palette</mat-icon>
          <mat-menu #fab="matMenu">
            <div  fxLayout="row" fxLayoutAlign="space-around center">
              <button mat-mini-fab style="background-color: rgb(247, 86, 118);height:30px;width:30px;"></button>
              <button mat-mini-fab style="background-color:darkgoldenrod;height:30px;width:30px;"></button>
              <button mat-mini-fab style="background-color:darkgreen ;height:30px;width:30px;"></button>
              <button mat-mini-fab style="background-color:olive;height:30px;width:30px;"></button>
            </div>
          <div>
              <button mat-mini-fab style="background-color:slategray;height:30px;width:30px;"></button>
              <button mat-mini-fab style="background-color: rgb(10, 51, 60);height:30px;width:30px;"></button>
              <button mat-mini-fab style="background-color: rgb(99, 29, 43);height:30px;width:30px;"></button>
              <button mat-mini-fab style="background-color: rgb(131, 70, 82);height:30px;width:30px;"></button>
            </div>
            <div>
                <button mat-mini-fab style="background-color:rgba(35, 24, 192, 0.651);height:30px;width:30px;"></button>
                <button mat-mini-fab style="background-color: rgb(149, 133, 194);height:30px;width:30px;"></button>
                <button mat-mini-fab style="background-color: rgb(88, 194, 120);height:30px;width:30px;"></button>
                <button mat-mini-fab style="background-color: rgb(134, 134, 92);height:30px;width:30px;"></button>
              </div>
           </mat-menu>
        </button>

        <button mat-icon-button>
          <mat-icon matTooltip="Add image">insert_photo</mat-icon>
          </button>
    
       <button mat-icon-button>
      <mat-icon matTooltip="archive">archive</mat-icon>
      </button>

    <button mat-icon-button>
     <mat-icon matTooltip="more"  mat-button [matMenuTriggerFor]="menu">more_vert</mat-icon>
     
     <mat-menu #menu="matMenu" xPosition="after" class="vert">
     <button mat-menu-item  style="margin-top: -9%">Add lebel</button>
     <button mat-menu-item style="margin-top: -12%">Add drawing</button>
     <button mat-menu-item style="margin-top: -12%">show checkbaxes</button>
    </mat-menu>
  </button>
</div>