<div  fxLayout="row" fxLayoutAlign="center center" style="margin-top: 150px;">
    <mat-card  mat-card style="margin-top: 8%;width: 20%;align-self: center;">
        <mat-card-header>
            <mat-card-title>Fundoo forgot</mat-card-title>
          </mat-card-header>
          <mat-card-content>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>email</mat-label>
                        <input  matInput  placeholder="email" name="email" type="email" 
                        [formControl]="email">
                       <mat-icon matSuffix>email</mat-icon> 
                      </mat-form-field>
                </div>
                     <div>
                        <button mat-raised-button  color="primary">Submit</button>
                       <button mat-raised-button color="primary">Clear</button> 
                       </div>
           
          </mat-card-content>
          </mat-card>
</div>