<div>
<div style="height:44px"  fxLayout="row" fxLayoutAlign="start center">
  <span style="font-size:large; font-family: inherit">Collaborators</span>
</div>
<mat-divider></mat-divider>
<div style="height:64px"  fxLayout="row" fxLayoutAlign="start center">
  <img mat-card-avatar src="http://localhost:8080/user/getProfile/{{profilePic}}"/>{{a}}</div>
<div style="height:74px"></div>
<div class="colab" fxLayout="row" fxLayoutAlign="end center">
  <button mat-button>Cancel</button>
  <button mat-button>save</button>
</div>
</div>