 <div  fxLayout="row wrap" fxLayoutGap="20px" style="margin:10px;" class="cards" >
  <div  *ngFor="let item of data" fxLayout="row wrap">
 <div *ngIf="item.archive===true">
 <mat-card class="smallcard" [ngStyle]="{'background-color': item.color}">
   <div>{{item.title}}</div>
   <div>{{item.discription}}</div>
   <mat-chip-list *ngIf="item.reminder!= null" >
   <mat-chip><div>{{item.reminder |  date:'short' }}</div></mat-chip>
  </mat-chip-list>
   <!-- <mat-chip-list *ngIf="item.reminder!= null">
      <mat-chip><div>{{item.reminder| date:'short'}}</div></mat-chip>
      </mat-chip-list>
     <div> -->
     <div>
         <app-icon [noteData]="item"></app-icon>
     </div>
   </mat-card> 
  </div>
   </div>
   </div>  

